body {
  background-color: #f3f8f5;
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2e8b57;
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  font-size: 18px;
}
